In [ ]:
#12th lecture:13/02/26
#homework
#Part A – map() Practice Questions

1. Use map() to create a new list that contains the square of each number in:
        [2, 4, 6, 8]

2. Convert all strings to uppercase using map():
        ["apple", "banana", "mango"]
3. Use map() to convert a list of temperatures from Celsius to Fahrenheit.
Formula:
F = (C * 9/5) + 32
4. Given a list:
        [1, 2, 3, 4, 5]
        Multiply each number by 10 using map().
5. Given two lists:
         list1 = [1, 2, 3]
          list2 = [4, 5, 6]
         Use map() to add elements of both lists.

In [1]:
#1.
numbers=[2,4,6,8]
result=list(map(lambda x:x*x,numbers))
print(result)

[4, 16, 36, 64]

In [5]:
#2.
items=["apple","banana","mango"]
result=list(map(lambda x:x.upper(),items))
print(result)

['APPLE', 'BANANA', 'MANGO']

In [20]:
# List of temperatures in Celsius
celsius = [0, 20, 37, 100]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 68.0, 98.6, 212.0]

In [23]:
#4. Given a list: Multiply each number by 10 using map().
numbers=[1, 2, 3, 4, 5]
result=list(map(lambda x:x*10,numbers))
print(result)

[10, 20, 30, 40, 50]

In [24]:
#5. Given two lists:  Use map() to add elements of both lists.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result=list(map(lambda x, y: x + y, list1, list2))
print(result)

[5, 7, 9]

In [ ]:
Part B – filter() Practice Questions
1. Use filter() to get only even numbers from:
        [10, 15, 20, 25, 30]
2. Filter numbers greater than 50 from:
        [10, 55, 60, 30, 80]
3. From a list of names:
        ["Aman", "Riya", "Alok", "Priya"]
         Filter names that start with letter "A".
4. Given:
        [5, -2, 3, -8, 10]
        Use filter() to remove negative numbers.
5. Filter students who scored 40 or more from:
        [35, 80, 45, 20, 90]

In [25]:
num = [10, 15, 20, 25, 30]
even_numbers = list(filter(lambda x: x % 2 == 0, num))
print(even_numbers)

[10, 20, 30]

In [28]:
num=[10,55,60,30,80]
greater_numbers=list(filter(lambda x:x>50,num))
print(greater_numbers)

[55, 60, 80]

In [32]:
names=["aman","riya","alok","priya"]
write=list(filter(lambda name: name.startswith("a"), names))
print(write)

['aman', 'alok']

In [36]:
num=[5, -2, 3, -8, 10]
result=list(filter(lambda x: x >= 0,num))
print(result)

[5, 3, 10]

In [37]:
scores = [35, 80, 45, 20, 90]
passed = list(filter(lambda x: x >= 40, scores))
print(passed)

[80, 45, 90]

In [ ]:
 Part C – reduce() Practice Questions
1. Use reduce() to find the sum of:
       [1, 2, 3, 4, 5]
2. Use reduce() to find the product of:
        [2, 3, 4]
3. Find the maximum number using reduce():
       [12, 45, 23, 67, 34]
4. Find the minimum number using reduce().
5. Use reduce() to concatenate the list of strings:
       ["Python", "is", "awesome"]

In [39]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, numbers)
print(total)

15

In [40]:
from functools import reduce
numbers = [2, 3, 4]
product = reduce(lambda x, y: x * y, numbers)
print(product)

24

In [41]:
from functools import reduce
numbers = [12, 45, 23, 67, 34]
maximum = reduce(lambda x, y: x if x > y else y, numbers)
print(maximum)

67

In [43]:
from functools import reduce
numbers = [12, 45, 23, 67, 34]
manimum = reduce(lambda x, y: x if x < y else y, numbers)
print(manimum)

12

In [44]:
from functools import reduce
words = ["Python", "is", "awesome"]
result = reduce(lambda x, y: x + " " + y, words)
print(result)

Python is awesome